ExpressQuiz/App_Data/seeddata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Content">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Quizzes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Quiz">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Summary" type="xs:string" />
                    <xs:element name="IsTimeable" />
                    <xs:element maxOccurs="unbounded" name="Question">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="OrderId" type="xs:unsignedByte" />
                          <xs:element name="Text" type="xs:string" />
                          <xs:element name="EstimatedTime" type="xs:unsignedByte" />
                          <xs:element maxOccurs="unbounded" name="Answer">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OrderId" type="xs:unsignedByte" />
                                <xs:element minOccurs="0" name="IsCorrect" />
                                <xs:element name="Text" type="xs:string" />
                                <xs:element name="Explanation" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="category" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>